*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;

  background: $color-contesa;
  color: $color-quarter-spanish-white;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  overflow: hidden;

  @include media('<=phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;

  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  outline: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
  transition: opacity 0.4s ease;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }
}

.content {
  @extend %cover;
}


[data-animation="label"],
[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
